<p id="notice"><%= notice %></p>
<div>
  <p>
    <strong>Name:</strong>
    <%= @cocktail.name %>
  </p>

  <% @cocktail.doses.each do |dose| %>
    <p>
      <%= dose.ingredient.name %>
      <%= dose.description %>
      <%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: 'Sure?'} %>
      <hr>
    </p>
  <% end %>

  <%# <%= link_to 'Edit', edit_cocktail_path(@cocktail) %>
  <%= link_to 'Back', cocktails_path %>
</div>

<div>
  <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
</div>